<div class="schedule-container">

  <header class="page-header">
    <div>
      <h1>Mi Horario</h1>
      <p>Semana del 14 al 18 de Octubre</p>
    </div>
  </header>

  <div class="schedule-grid-wrapper">
    <table class="schedule-table">
      <thead>
        <tr>
          <th class="time-col">Hora</th>
          @for (day of weekDays; track day) {
            <th>{{ day }}</th>
          }
        </tr>
      </thead>
      <tbody>
        @for (time of timeSlots; track time) {
          <tr>
            <td class="time-cell">{{ time }}</td>

            @for (day of weekDays; track day) {
              @if (shouldRenderDayCell(day, time)) {
                @if (getClassForSlot(day, time); as classObj) {
                  <td
                    [attr.rowspan]="classObj.duration"
                    class="class-cell-container"
                    [class.is-appointment]="classObj.type === 'appointment'">
                    <div class="class-card" [ngClass]="[classObj.type, 'dur-' + classObj.duration]">
                      <h4>{{ classObj.name }}</h4>
                      <div class="class-details">
                        <div class="detail-row">
                          <lucide-icon [img]="PinIcon"></lucide-icon>
                          <span>{{ classObj.room }}</span>
                        </div>
                        @if (classObj.type !== 'appointment') {
                          <div class="detail-row">
                            <lucide-icon [img]="ClockIcon"></lucide-icon>
                            <span>{{ classObj.duration }} hrs</span>
                          </div>
                        }
                        @if (classObj.teacher) {
                          <div class="detail-row">
                            <lucide-icon [img]="UsersIcon"></lucide-icon>
                            <span>{{ classObj.teacher }}</span>
                          </div>
                        }
                      </div>
                    </div>
                  </td>
                } @else {
                  <td class="empty-cell"></td>
                }
              }
            }
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
